img{
  height:400px;
   width:auto;
   
 }  
   *{
 text-align: center;
     color: orange;
     background-color:#8937bd;
     
   }
  h1{
    font-family: 'Bree Serif', serif;

 }

 span {
   color: green;
   h2 hover
 }